@model OrderDetails
@{ Layout = "_Layout"; ViewBag.Title = "Order Details"; }
<h2>Get Reservation by Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<h3>@ViewBag.StatusCode</h3>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Get Order</button>
    </div>
</form>
@if (Model != null)
{
    <h2>Order @Model.OrderId</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OrderDate</td>
                <td>@Model.CustomerFname @Model.CustomerLname</td>
                <td>@Model.CustomerEmail</td>
                <td>@Model.OrderStatus</td>
            </tr>
        </tbody>
    </table>
}